extends base
block content
  div.container
    div.row
      h1.display-3 All Booking Product
    div.row
      each booking in bookingProducts
        div.col-md-3.mb-3
          div.card.p-3.shadow-sm
            h3.title #{booking.product.name}
            p.lead price: #{booking.price} tk
            p.small user: #{booking.user}
            p.badge.bg-success paid